<link rel="stylesheet" type="text/css" href="css/home.css">

<div class="row">
	<p class="gutter"></p>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-lg-6 col-xs-10 col-centered">
		<p class="logo">
			<i class="fa fa-bar-chart"></i>
			<span class="hidden-xs">EnergyMesh</span>
			<span class="visible-xs">Energy Mesh</span>
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-4 col-lg-4 col-xs-10 col-centered">
		<form role="form" class="reglog">

			<div class="alert alert-info" ng-show="alerts.info.show" role="alert">
				<span class="glyphicon glyphicon-info-sign"></span>&nbsp;{{alerts.info.text}}
			</div>
			<div class="alert alert-success" ng-show="alerts.success.show" role="alert">
				<span class="glyphicon glyphicon-ok"></span>&nbsp;{{alerts.success.text}}
			</div>
			<div class="alert alert-danger" ng-show="alerts.error.show" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{alerts.error.text}}
			</div>

			<div class="input-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="user.username"
				       aria-describedby="basic-addon">
				<span class="input-group-addon" id="basic-addon">@energymesh</span>
			</div>
			<span class="required" ng-show="validations.username.show">{{validations.username.text}}</span>

			<input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
			<span class="required" ng-show="validations.password.show">{{validations.password.text}}</span>

			<button type="submit" class="btn btn-success" ng-click="login()">
				<span class="glyphicon glyphicon-lock"></span>
				Login
			</button>

		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 col-centered" style="text-align: center;">
		<h2 id="desc">
			Theo dõi điện năng tiêu thụ<br>
			<span class="scratchpad"></span>
		</h2>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<p>
			Made with <span class="glyphicon glyphicon-heart"></span> by
			<a target="_blank" href="https://www.facebook.com/nguyenduongkimhao">Kim Hao</a>
		</p>
	</div>
</footer>

<script type="text/javascript" src="lib/typed.js/dist/typed.min.js"></script>
<script type="text/javascript">
	$(function () {
		$(".scratchpad").typed({
			strings: [
				"Lập kế hoạch tiết kiệm điện.",
				"Tiết kiệm điện.",
				"Tiết kiệm chi phí.",
				"Giảm hao phí.",
				"Bảo vệ môi trường."
			],
			typeSpeed: 5,
			loop: true,
			backDelay: 1000
		});
	});
</script>