<div class="row">
	<p class="gutter"></p>
</div>
<div class="row">
</div>

<style type="text/css" scoped>
	body {
		background-image: url('img/background/home-bg.jpg');
		background-position: left top;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}

	body {
		/* Margin bottom by footer height */
		margin-bottom: 60px;
	}

	.footer {
		position: absolute;
		bottom: 0;
		/* Set the fixed height of the footer here */
		height: 30px;
	}

	p.gutter {
		margin-top: 75px;
	}
</style>