<link rel="stylesheet" type="text/css" href="css/dashboard/category.css">
<toaster-container></toaster-container>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-8 col-centered">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Danh mục thiết bị điện
						<small>Quản lý các loại thiết bị điện</small>
					</h5>
				</div>
				<div class="ibox-content">

					<table class="footable table table-stripped toggle-arrow-tiny">
						<thead>
						<tr>
							<th data-toggle="true">Tên</th>
							<th data-sort-ignore="true" class="cat-image">Hình ảnh</th>
							<th data-sort-ignore="true" class="cat-action">Hành động</th>
							<th data-hide="all">Thông tin thiết bị</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="cat in categoryData">
							<td data-value="{{cat.name}}" class="cat-name"
							    ng-class="{'has-warning': (cat.name != cat.newName)}">
								<input type="text" placeholder="Tên danh mục"
								       class="form-control" ng-model="cat.newName">
							</td>
							<td class="cat-image">
								<div uib-tooltip-placement="top" uib-tooltip="Click vào để thay đổi hình ảnh"
								     ngf-select="uploadCategoryImage($file, cat)" ng-click="uploadCategoryClick(cat)">
									<img ng-show="cat.image" src="{{cat.image}}"
									     alt="{{cat.newName}}" class="cat-image">
								</div>
								<div ng-show="!cat.image" class="sk-spinner sk-spinner-double-bounce">
									<div class="sk-double-bounce1"></div>
									<div class="sk-double-bounce2"></div>
								</div>
							</td>
							<td class="cat-action">
								<a title="Lưu" uib-tooltip-placement="top" uib-tooltip="Lưu thay đổi"
								   ng-click="updateCategory(cat)" ng-show="cat.name != cat.newName"
								   class="animate-fade">
									<i class="fa fa-check fa-2x text-navy"></i>
								</a>
								<a title="Reset" uib-tooltip-placement="top" uib-tooltip="Làm lại"
								   ng-click="clearCategory(cat)" ng-show="cat.name != cat.newName"
								   class="animate-fade">
									<i class="fa fa-eraser"></i>
								</a>
								<a title="Xóa" uib-tooltip-placement="top" uib-tooltip="Xóa danh mục"
								   ng-click="deleteCategory(cat)">
									<i class="fa fa-remove text-danger"></i>
								</a>
							</td>
							<td>
								<div>
									<h1>Test</h1>
								</div>
							</td>
						</tr>
						</tbody>
					</table>

					<table class="table">
						<tbody>
						<tr>
							<td data-value="{{newCat.name}}" class="cat-name"
							    ng-class="{'has-warning': (newCat.name != '')}">
								<input type="text" placeholder="Nhập tên danh mục mới"
								       class="form-control" ng-model="newCat.name">

							</td>
							<td class="cat-image">
								<div uib-tooltip-placement="top" uib-tooltip="Thay đổi ảnh sau !">
									<img src="{{newCat.image}}" alt="{{newCat.name}}" class="cat-image">
								</div>
							</td>
							<td class="cat-action">
								<a title="Thêm" uib-tooltip-placement="top" uib-tooltip="Thêm danh mục"
								   ng-click="createCategory(newCat)" ng-show="newCat.name != ''"
								   class="animate-fade">
									<i class="fa fa-check fa-2x text-navy"></i>
								</a>
								<a title="Reset" uib-tooltip-placement="top" uib-tooltip="Làm lại"
								   ng-click="clearNewCategory()" ng-show="newCat.name != ''"
								   class="animate-fade">
									<i class="fa fa-eraser"></i>
								</a>
							</td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>