<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-8 col-centered">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Quản lý thiết bị</h5>
					<small>Thêm, xóa và chỉnh sửa các thiết bị hiện có</small>
				</div>
				<div class="ibox-content">

					<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
						<thead>
						<tr>

							<th data-toggle="true">Project</th>
							<th>Name</th>
							<th>Phone</th>
							<th data-hide="all">Company</th>
							<th data-hide="all">Completed</th>
							<th data-hide="all">Task</th>
							<th data-hide="all">Date</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Project - This is example of project</small></td>
							<td>Patrick Smith</td>
							<td>0800 051213</td>
							<td>Inceptos Hymenaeos Ltd</td>
							<td><span class="pie">0.52/1.561</span></td>
							<td>20%</td>
							<td>Jul 14, 2013</td>
							<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
						</tr>
						<tr>
							<td>Project - This is example of project</small></td>
							<td>Patrick Smith</td>
							<td>0800 051213</td>
							<td>Inceptos Hymenaeos Ltd</td>
							<td><span class="pie">0.52/1.561</span></td>
							<td>20%</td>
							<td>Jul 14, 2013</td>
							<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>