<link rel="stylesheet" type="text/css" href="css/dashboard/main.css">

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div id="realtimeChart" class="col-md-10 col-md-offset-1 realtime-chart-container"></div>
	</div>
	<div class="gutter"></div>
	<div class="row">
		<div id="realtimePieChart" class="col-md-5 col-md-offset-1 realtime-pie-chart-container"></div>
		<div class="col-md-5">
			<div class="ibox detail-data">
				<div class="ibox-title">
					<h5>Dữ liệu chi tiết</h5>
				</div>
				<div class="ibox-content">

					<table class="footable table toggle-arrow-tiny table-no-stripe" data-page-size="8">
						<thead>
						<tr>
							<th>Thiết bị</th>
							<th>Công suất</th>
							<!--<th>Tiêu thụ (th)</th>-->
							<!--<th>Thành tiền</th>-->
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="dev in detailDevice">
							<td>
								<img src="{{dev.category.image}}"
								     alt="{{dev.category.name}}" class="dev-cat-image">
								{{dev.name}}
							</td>
							<td>{{dev.power | number:2}} W</td>
							<!--<td>{{dev.kwh | number:2}} kWh</td>-->
							<!--<td>{{dev.money | number:0}}</td>-->
						</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
	<div class="gutter"></div>
</div>