<link rel="stylesheet" type="text/css" href="css/dashboard/statistic.css">

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div id="pieChart" class="col-md-5 col-md-offset-1 realtime-pie-chart-container"></div>
		<div class="col-md-5">
			<div class="ibox detail-data">
				<div class="ibox-title">
					<h5>Dữ liệu chi tiết</h5>
				</div>
				<div class="ibox-content">

					<table class="footable table toggle-arrow-tiny table-no-stripe" data-page-size="8">
						<thead>
						<tr>
							<th>Thiết bị</th>
							<th>Công suất</th>
							<th>Tiêu thụ (th)</th>
							<th>Thành tiền</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="dev in detailDevice">
							<td>
								<img src="{{dev.category.image}}"
								     alt="{{dev.category.name}}" class="dev-cat-image">
								{{dev.name}}
							</td>
							<td>{{dev.power | number:2}} W</td>
							<td>{{dev.kwh | number:2}} kWh</td>
							<td>{{dev.money | number:0}}</td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-5 col-md-offset-1">
			<div class="dropdown">
				<a class="dropdown-toggle" id="dropStart" role="button" data-toggle="dropdown">
					<div class="input-group">
						<span class="input-group-addon">Từ</span>
						<input type="text" class="form-control"
						       value="{{makeTimeCalendar(search.start)}}">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu">
					<datetimepicker data-ng-model="search.start"
					                data-datetimepicker-config="{ dropdownSelector: '#dropStart' }">
				</ul>
			</div>
		</div>

		<div class="col-md-5">
			<div class="dropdown">
				<a class="dropdown-toggle" id="dropEnd" role="button" data-toggle="dropdown">
					<div class="input-group">
						<span class="input-group-addon">Đến</span>
						<input type="text" class="form-control"
						       value="{{makeTimeCalendar(search.end)}}">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu">
					<datetimepicker data-ng-model="search.end"
					                data-datetimepicker-config="{ dropdownSelector: '#dropEnd' }">
				</ul>
			</div>
		</div>

		<div class="col-all-1">
			<button class="btn btn-primary dim btn-nofocus m-l-sm" type="button" ng-click="refresh()">
				<i class="fa fa-refresh"></i>
			</button>
		</div>

	</div>


	<div class="row">
		<div id="overallChart" class="col-md-10 col-md-offset-1 overall-chart-container"></div>
	</div>

	<div class="gutter"></div>

	<div class="row">
		<div id="hourlyChart" class="col-md-10 col-md-offset-1 hourly-chart-container"></div>
	</div>

	<div class="gutter"></div>


	<div class="gutter"></div>
</div>