<link rel="stylesheet" type="text/css" href="css/dashboard/statistic.css">
<toaster-container></toaster-container>

<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">

		<div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
			<div class="dropdown">
				<a class="dropdown-toggle" id="dropStart" role="button" data-toggle="dropdown">
					<div class="input-group">
						<span class="input-group-addon">Từ</span>
						<input type="text" class="form-control"
						       value="{{makeTimeCalendar(search.start)}}">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu">
					<datetimepicker data-ng-model="search.start"
					                data-datetimepicker-config="{ dropdownSelector: '#dropStart' }">
				</ul>
			</div>
		</div>

		<div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
			<div class="dropdown">
				<a class="dropdown-toggle" id="dropEnd" role="button" data-toggle="dropdown">
					<div class="input-group">
						<span class="input-group-addon">Đến</span>
						<input type="text" class="form-control"
						       value="{{makeTimeCalendar(search.end)}}">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu">
					<datetimepicker data-ng-model="search.end"
					                data-datetimepicker-config="{ dropdownSelector: '#dropEnd' }">
				</ul>
			</div>
		</div>

		<div class="col-all-1 hidden-xs">
			<button class="btn btn-primary dim btn-nofocus m-l-sm" type="button" ng-click="refresh()">
				<i class="fa fa-refresh"></i>
			</button>
		</div>

		<div class="col-xs-1 visible-xs m-b-md m-t-sm col-xs-offset-9">
			<button class="btn btn-primary dim btn-nofocus m-l-sm" type="button" ng-click="refresh()">
				<i class="fa fa-refresh"></i>
			</button>
		</div>

	</div>


	<div class="row">
		<div id="overallChart"
		     class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 overall-chart-container chart-content col-sm-11 col-xs-11"></div>
	</div>

	<div class="gutter"></div>

	<div class="row">
		<div id="hourlyChart"
		     class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 hourly-chart-container chart-content col-sm-11 col-xs-11"></div>
	</div>

	<div class="gutter"></div>

	<div class="row">
		<div id="pieChart"
		     class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 pie-chart-container chart-content col-sm-11 col-xs-11"></div>
		<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
			<div class="ibox detail-data">
				<div class="ibox-title">
					<h5>Dữ liệu chi tiết</h5>
				</div>
				<div class="ibox-content">

					<table class="footable table toggle-arrow-tiny table-no-stripe" data-page-size="8">
						<thead>
						<tr>
							<th data-toggle="true">Thiết bị</th>
							<th>Tiêu thụ</th>
							<th>Thành tiền</th>
							<th data-hide="all">Tiền hàng tháng</th>
							<th data-hide="all">Tiền hàng năm</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="elem in detailDevice">
							<td>
								<img src="{{elem.dev.category.image}}"
								     alt="{{elem.dev.category.name}}" class="dev-cat-image">
								{{elem.dev.name}}
							</td>
							<td>{{elem.totalWork | number:4}} kWh</td>
							<td>{{elem.money | number:0}} đ</td>
							<td>{{elem.moneyMonthly | number:0}} đ</td>
							<td>{{elem.moneyYearly | number:0}} đ</td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>

	<div class="gutter"></div>
</div>