.no-padding {
	padding: 0;
}

.navbar-info-custom {
	display: inline-table;
	margin: 12px 5px 5px 10px;
	width: calc(100% - 200px);
}

.btn-center {
	display: table;
	margin: 0 auto;
}

#page-wrapper {
	min-height: 100vh;
}