div.gutter {
	margin-top: 20px;
}

div.overall-chart-container {
	height: 500px;
}

div.hourly-chart-container {
	height: 500px;
}

div.pie-chart-container {
	height: 400px;
}

@media (min-width: 992px) {
	.detail-data {
		padding-left: 20px;
		width: 107.5%;
	}
}

.table-no-stripe tr.footable-odd {
	background: #ffffff;
}

img.dev-cat-image {
	max-height: 25px;
	max-width: 100%;
}